OPENSEARCH_ENDPOINT=http://localhost:9200

OPENAI_API_KEY=xxxxx
MCP_SERVER_URL=http://localhost:3030

AWS_ACCOUNT=xxxxx

OPENAI_MODEL_ID=xxxxx
OPENAI_AGENT_ID=xxxxx
BEDROCK_MODEL_ID=xxxxx
BEDROCK_AGENT_ID=xxxxx
MCP_CONNECTOR_ID=xxxxx
